# TARDIS .gitignore

##########################
# General python ignores #
##########################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

###################
# Project ignores #
###################

# Don't want the .code-workspace files
*.code-workspace

# Avoid database upload (due to its size/avaliability)
data/

# No need to send MGLTools
mgltools/

# Neither BLinDPyPr
BLinDPyPr

# Ignore all eventual zip and .tar.gz files in the folder
*.zip
*.tar.gz

# Base File is only for faster file creation, no need to upload it
BaseFile.py

# We don't want the inDev folders
inDev/
inDev2/

# Ignore pickle files... (for now)
*.pickle

# Ignore python backup files
*.py.bak
*.save

# Ignore the .pid files
*.pid

# Ignore the tmp dir
tmp/

# Ignore backup files
*.bkp

# Do not upload .cfg files
*.cfg

# Ignore nohup.out
*nohup.out
 
# Ignore vscode files
.vscode/

# Ignore docs (for now)
docs/
*.xml
*.fasta.gz
humanProtDB/
TARDIS/output.xls
output.csv
d_radiodurans.xml
aureus.xml
TARDIS/essencial-genes.py
targets/P0A6D3.fasta
targets/P0A6I0.fasta
targets/P0A6I6.fasta
targets/P0A6I9.fasta
targets/P0A6L4.fasta
targets/P0A6P9.fasta
targets/P0A6T5.fasta
targets/P0A6W3.fasta
targets/P0A7I7.fasta
targets/P0A7J0.fasta
targets/P0A8H3.fasta
targets/P0A9B2.fasta
targets/P0A720.fasta
targets/P0A749.fasta
targets/P0A799.fasta
targets/P0A817.fasta
targets/P0ABQ0.fasta
targets/P0ABU0.fasta
targets/P0AC13.fasta
targets/P0AC16.fasta
targets/P0AD57.fasta
targets/P0AEW6.fasta
targets/P0AF12.fasta
targets/P0AFI7.fasta
targets/P0AFK2.fasta
targets/P0AFS5.fasta
targets/P0AG40.fasta
targets/P00935.fasta
targets/P05459.fasta
targets/P07623.fasta
targets/P08192.fasta
targets/P08373.fasta
targets/P11880.fasta
targets/P12008.fasta
targets/P16256.fasta
targets/P17109.fasta
targets/P17443.fasta
targets/P22939.fasta
targets/P23721.fasta
targets/P24186.fasta
targets/P25539.fasta
targets/P25553.fasta
targets/P25772.fasta
targets/P26281.fasta
targets/P29208.fasta
targets/P32166.fasta
targets/P37353.fasta
targets/P37773.fasta
targets/P45394.fasta
targets/P45568.fasta
targets/P45578.fasta
targets/P46133.fasta
targets/P60472.fasta
targets/P60546.fasta
targets/P62615.fasta
targets/P62617.fasta
targets/P62620.fasta
targets/P75948.fasta
targets/P76586.fasta
targets/P77212.fasta
targets/P77488.fasta
targets/P77610.fasta
targets/Q46893.fasta
targets/Q47689.fasta
targets/Q47690.fasta
